#home-or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #afb0b0; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

#home-or span { 
    background:#fff; 
    padding:0 10px;
    font-style: oblique;
}

#home-left-col {
    border-right: 1px solid #afb0b0;
}

/* table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
} */
tr { display: block; float: left; }
th, td { display: block; }


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#loading {
    width: 4rem;
    height: 4rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    position: absolute;
    top: 47%;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* TRY PURPLE BTNS */

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #9c36e8 !important;
    border-color: #9c36e8;
}

.btn-primary:hover {
    background-color: #6c25a3 !important;
    border-color: #6c25a3 ;
}

#flux-continue-btn {
    /* flex: 1 1 auto; */
    /* margin: 10px; */
    padding: 15px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    /* border-radius: 10px; */
    background-image: linear-gradient(to right, #f729d9 0%, #9c36e8 51%, #3443fc 100%) !important;
    border-color: white;
    color: white;
}

#flux-continue-btn:hover {
    background-position: right center; /* change the direction of the change here */
    border-color: white;
    color: white;
}

/* FOR REMOVING UP DOWN ARROWS ON NUMERICAL INPUTS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal-xl {
    max-width: 65% !important;
}

#contact-header {
    background-image: linear-gradient(to left, #fdac59 0%, #f729d9 51%, #9c36e8 100%) !important;
    color: white;
}