body {
    padding-top: 66px; /* This should be equal to the height of your header, helps with overlap of sticky navbar */
}


/* ———————————FOR HOMEPAGE BACKGROUND——————————— */
    #bg {
        width: 100%;
        height: 100vh;
        background-color: #262b30;
        object-fit: cover;
        z-index: -2;
        position: fixed;
        overflow: hidden;
        top: 0;
    }

    #bg-overlay {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.413); /* Black background with opacity */
        z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }


/* ————————————FOR ABOUT PAGE————————————— */  
    #about-hero {
        color: white;
    }

    #about-hero-img {
        width: 100vw;
        height: 160px;
        display: block;
        background-color: #262b30;
        object-fit: cover; 
        z-index: -2;
        position: absolute;
        overflow: hidden;
    }

/* ————————————FOR MANUAL FORM————————————— */
    #manual-form {
        background-color: rgba(0, 0, 0, 0.413);
    }

    #manual-form-toggle-text {
        color: white;
    }

    /* FOR TURNING CARET ON HOME PAGE */
    .fa-caret-right{
        transform: rotate(0deg);
        transition: transform 0.1s linear;
    }

    .fa-caret-right.open{
        transform: rotate(90deg);
        transition: transform 0.1s linear;
    }

    /* for removing up down arrows on numerical inputs */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }



/* ————————————FOR LOADING PAGE—————————— */
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.684); /* Black background with opacity */
        z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
        cursor: wait; /* Add a pointer on hover */
    }

    #overlay-box {
        display: none;
        z-index: 10010;
        background-color: #262b30;
        color: white;
        margin: auto;
        position: absolute;
        top: 40%;
        width: 400px;
        height: 190px;
        text-align: end;
        border-radius: 5px;
    }

    #overlay-text {
        position: absolute;
        bottom: 0;
        font-size: 1rem;
    }

    #loading {
        width: 4rem;
        height: 4rem;
        border: 5px solid #f3f3f3;
        border-top: 6px solid #9c41f2;
        border-radius: 100%;
        margin: auto;
        visibility: hidden;
        animation: spin 1s infinite linear;
        position: absolute;
        top: 47%;
        z-index: 10020;
    }

    #loading.display {
        visibility: visible;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }



/* ————————————FOR MODAL——————————— */
    td {
        vertical-align: middle;
    }
    th {
        text-align: center;
    }




/* ——————————FOR BUTTON STYLES————————— */
    .btn-primary, .btn-primary:active, .btn-primary:visited {
        background-color: #9c36e8 !important;
        border-color: #9c36e8;
    }

    .btn-primary:hover {
        background-color: #6c25a3 !important;
        border-color: #6c25a3 ;
    }

    #flux-continue-btn {
        padding: 15px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        background-image: linear-gradient(to right, #f729d9 0%, #9c36e8 51%, #3443fc 100%) !important;
        border-color: white;
        color: white;
    }

    #flux-continue-btn:hover {
        background-position: right center; /* change the direction of the change here */
        border-color: white;
        color: white;
    }


/* ——————————OTHER——————————— */
    #contact-header {
        background-image: linear-gradient(to left, #fdac59 0%, #f729d9 51%, #9c36e8 100%) !important;
        color: white;
    }

    /* Full width class to break elements out of parent container */
    .full-width {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    /* Getting rid of text decoration on links (a tags) */ 
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; cursor: pointer; }
    a:active { text-decoration: none; }

    /* .mpld3-figure {
        width: 800px !important;
    } */


/* ————————————FOR SEARCH BAR————————————— */
    #search-bar {
        filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.2));
        background-color: white;
        border-radius: 20px;
        margin: 0 30px 0 30px;
        padding: 5px 0px 5px 0px;
    }

    #modal-form input[type='number']{
        width: 80px;
    }

    /* select {
        background-image:
        linear-gradient(45deg, transparent 50%, white 60%),
        linear-gradient(135deg, white 40%, transparent 50%) !important;
        background-position:
        calc(100% - 30px) 14px,
        calc(100% - 20px) 14px,
        100% 0;
        background-size:
        10px 10px,
        10px 10px;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
    } */

    #name-form-cont .form-control {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border-radius: 20px; 
        min-height:70px;
    }

    #position-form-cont .form-control {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border-radius: 20px; 
        min-height:70px;
    }

    /* BOOTSTRAP EXTRA SMALL BREAKPOINT */ 
    @media (max-width: 576px) {
        .rounded-end-xs {
            border-radius: 20px;
        }

        .large-top-padding {
            padding-top: 100px;
        }
    }

    /* BOOTSTRAP SMALL BREAKPOINT */ 
    @media (min-width: 576px) {
        .border-sm-right {
        border-right: 1px solid #e3e7eb !important;
        }
        .rounded-start-sm {
            border-radius: 20px 0 0 20px;
            /* border-top-left-radius: 20px;
            border-bottom-left-radius: 20px; */
        }
    }

    /* BOOTSTRAP MEDIUM-XL BREAKPOINT */ 
    @media (min-width: 768px) {
    }
    
    @media (min-width: 992px) {
    }
    
    @media (min-width: 1200px) {
    }

      
.wrapper .search_box{
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
}
      
.wrapper .search_box .dropdown{
    width: 220px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
}

.wrapper .search_box .dropdown ul{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style: none;
}

.wrapper .search_box .dropdown ul.active{
    display: block;
}

.wrapper .search_box .dropdown ul li{
    padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
    color: #6f768d;
}

.wrapper .search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: #9c36e8 transparent transparent transparent;
}

.wrapper .search_box .search_field{
    position: relative;
}

.wrapper .search_box .search_field .input{
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    padding-top: 12px;
    padding-bottom: 15px;
    color: #6f768d;
    width: 80%;
}

.wrapper .search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #9c36e8;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
}

.autocomplete-items {
    background-color: white;
    padding: 10px;
    width: 60%;
    overflow-y: auto;
    max-height: 200px;
    padding-top: 10px;
}

.autocomplete-items div {
    cursor: pointer;
}

.autocomplete-items div:hover {
    color: #9c36e8;
}