/* FOR MODAL FORM DISPLAY */
tr { display: block; float: left; }
th, td { display: block; }

/* FOR LOADING PAGE */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.684); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-box {
    display: none;
    z-index: 15;
    background-color: #262b30;
    color: white;
    margin: auto;
    position: absolute;
    top: 40%;
    width: 400px;
    height: 190px;
    text-align: end;
    border-radius: 5px;
}

#overlay-text {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

#loading {
    width: 4rem;
    height: 4rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    position: absolute;
    top: 47%;
    z-index: 20;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/* BUTTON STYLES */

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #9c36e8 !important;
    border-color: #9c36e8;
}

.btn-primary:hover {
    background-color: #6c25a3 !important;
    border-color: #6c25a3 ;
}

#flux-continue-btn {
    /* flex: 1 1 auto; */
    /* margin: 10px; */
    padding: 15px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    /* border-radius: 10px; */
    background-image: linear-gradient(to right, #f729d9 0%, #9c36e8 51%, #3443fc 100%) !important;
    border-color: white;
    color: white;
}

#flux-continue-btn:hover {
    background-position: right center; /* change the direction of the change here */
    border-color: white;
    color: white;
}




/* FOR REMOVING UP DOWN ARROWS ON NUMERICAL INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.modal-xl {
    max-width: 65% !important;
}

#contact-header {
    background-image: linear-gradient(to left, #fdac59 0%, #f729d9 51%, #9c36e8 100%) !important;
    color: white;
}

#name-parameters-form input[type='number']{
    width: 80px;
}

/* #search-bar-cont {
    background: radial-gradient(circle at center,#bd30e4 0, #8938ec, #3145fc 100%) no-repeat center center fixed;
} */

#home-img-cont {
    background: #0b0044;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


/* SEARCH BAR BACKGROUND GRADIENT IDEAS */
#something {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 100%, rgba(253, 167, 94, 1) 14%, rgba(254, 40, 214, 1) 50%, rgba(146, 55, 236, 1) 80%, rgba(238, 130, 238, 0) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 100%, rgba(253, 167, 94, 1) 14%, rgba(254, 40, 214, 1) 50%, rgba(146, 55, 236, 1) 80%, rgba(238, 130, 238, 0) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 100%, rgba(253, 167, 94, 1) 14%, rgba(254, 40, 214, 1) 50%, rgba(146, 55, 236, 1) 80%, rgba(238, 130, 238, 0) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 100%, rgba(253, 167, 94, 1) 14%, rgba(254, 40, 214, 1) 50%, rgba(146, 55, 236, 1) 80%, rgba(238, 130, 238, 0) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 100%, rgba(253, 167, 94, 1) 14%, rgba(254, 40, 214, 1) 50%, rgba(146, 55, 236, 1) 80%, rgba(238, 130, 238, 0) 100%);

}
            

#search-bar-cont{

    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 70%, #3145FCDE 11%, #753BF1DB 30%, #9D36E9C7 43%, #88579300 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 70%, #3145FCDE 11%, #753BF1DB 30%, #9D36E9C7 43%, #88579300 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 70%, #3145FCDE 11%, #753BF1DB 30%, #9D36E9C7 43%, #88579300 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 70%, #3145FCDE 11%, #753BF1DB 30%, #9D36E9C7 43%, #88579300 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 70%, #3145FCDE 11%, #753BF1DB 30%, #9D36E9C7 43%, #88579300 100%);

}


#somethin{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, #3145FC 0%, #753BF1 27%, #9D36E9 48%, #FF44BD 72%, #88579300 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, #3145FC 0%, #753BF1 27%, #9D36E9 48%, #FF44BD 72%, #88579300 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, #3145FC 0%, #753BF1 27%, #9D36E9 48%, #FF44BD 72%, #88579300 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, #3145FC 0%, #753BF1 27%, #9D36E9 48%, #FF44BD 72%, #88579300 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, #3145FC 0%, #753BF1 27%, #9D36E9 48%, #FF44BD 72%, #88579300 100%);
}