{% set footer_bar = [
    ('/', 'home', 'Home'),
    ('/about', 'about', 'About'),
    ('/faqs', 'faqs', 'FAQs'),
    ('/all-spectra', 'all-spectra', 'All Spectra'),
    ('/acknowledgements', 'acknowledgements', 'Acknowledgements')
] -%}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-3 mx-5 border-top mt-auto">
    <p {% if active_page == 'home' %} class="col-md-4 mb-0 text-light" {% else %} class="col-md-4 mb-0 text-secondary" {% endif%}>© 2022 PHOENIX PEGASUS Grid, Beta V2.0 (Under Construction)</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 text-decoration-none">
        <img src="{{url_for('static', filename='imgs/icon.png')}}" alt="" width="50px">
    </a>
    <ul class="nav col-md-4 justify-content-end">
        {% for href, id, caption in footer_bar %}
            <li class="nav-item">
                <a {% if active_page == 'home' %} class="nav-link px-2 text-light" {% else %} class="nav-link px-2 text-secondary" {% endif%} href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% endfor %}
        <li><button {% if active_page == 'home' %} class="btn btn-outline-light ms-2" {% else %} class="btn btn-outline-secondary ms-2" {% endif%} data-bs-toggle="modal" data-bs-target="#contactModal">Contact Us</button></li>
    </ul>
</footer>