<p>
    At this time, retrieved input parameters are only available for known exoplanet host stars with 2500 K < Teff < 5044 K. <br> 
    If your star is a known exoplanet host star, please check spelling or coordinates and resubmit, or enter the input parameters manually via <a href="{{ url_for('main.homepage', form='extended') }}"> this form</a>. <br> 
    If your star is not a known exoplanet host star, please enter the input parameters manually via <a href="{{ url_for('main.homepage', form='extended') }}">this form</a>.
</p>