<form action="/manual-submit" method="POST" class="p-4">
    {{ manual_form.csrf_token }}
    {{ manual_form.hidden_tag() }}
    <fieldset>
        <div class="form-floating mb-3">
            {{ manual_form.teff(class="form-control", placeholder="Teff — Stellar Effective Temperature (K)") }}
            {{ manual_form.teff.label(text='* ' + manual_form.teff.label.text) }}
        </div>

        <div class="form-floating mb-3">
            {{ manual_form.logg(class="form-control", placeholder="log g — Surface Gravity (cm/s2)") }}
            {{ manual_form.logg.label(text='* ' + manual_form.logg.label.text) }}
        </div>

        <div class="form-floating mb-3">
            {{ manual_form.mass(class="form-control", placeholder="M ☉ - Mass in Solar Masses") }}
            {{ manual_form.mass.label(text='* ' + manual_form.mass.label.text) }}
        </div>

        <div class="form-floating mb-3">
            {{ manual_form.rad(class="form-control", placeholder="R ☉ — Stellar Radius in Solar Radian") }}
            {{ manual_form.rad.label(text='* ' + manual_form.rad.label.text) }}
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="form-floating mb-3">
                    {{ manual_form.dist(class="form-control", placeholder="d — Distance") }}
                    {{ manual_form.dist.label(text='* ' + manual_form.dist.label.text) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    {{ manual_form.dist_unit(class="form-select") }}
                    {{ manual_form.dist_unit.label(text='* ' + manual_form.dist_unit.label.text) }}
                </div>
            </div>
        </div>

        <p class="text-center"><b>GALEX Far and Near Ultraviolet (FUV, NUV) Flux Densities</b></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    {{ manual_form.fuv(class="form-control", placeholder="FUV — Far Ultraviolet Flux in Microjanskys (mjy)") }}
                    {{ manual_form.fuv.label(text='* ' + manual_form.fuv.label.text) }}
                </div>
            </div>
            <div class="col-sm-1 d-flex align-items-center">
                <p class="justify-content-center  ">+/-</p>
            </div>
            <div class="col-sm-5">
                <div class="form-floating">
                    {{ manual_form.fuv_err(class="form-control", placeholder="FUV — Far Ultraviolet Flux Error in Microjanskys (mjy)") }}
                    {{ manual_form.fuv_err.label(text='* ' + manual_form.fuv_err.label.text) }}
                </div>
            </div>
        </div>
        
        <div id="fuv-flags-container" class="text-center">
            <span class="me-3">FUV Flags:</span>
            {% for subfield in manual_form.fuv_flag %}
                {% if subfield.data == 'null' %}
                    <div class="form-check form-check-inline my-4">
                        {{ subfield(class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% else %}
                    <div class="form-check form-check-inline my-4">
                        {{ subfield(class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    {{ manual_form.nuv(class="form-control", placeholder="NUV — Near Ultraviolet Flux in Microjanskys (mjy)") }}
                    {{ manual_form.nuv.label(text='* ' + manual_form.nuv.label.text) }}
                </div>
            </div>
            <div class="col-sm-1 d-flex align-items-center">
                <p class="justify-content-center">+/-</p>
            </div>
            <div class="col-sm-5">
                <div class="form-floating">
                    {{ manual_form.nuv_err(class="form-control", placeholder="NUV — Near Ultraviolet Flux Error in Microjanskys (mjy)") }}
                    {{ manual_form.nuv_err.label(text='* ' + manual_form.nuv_err.label.text) }}
                </div>
            </div>
        </div>

        <div id="nuv-flags-container" class="text-center">
            <span class="me-3">NUV Flags:</span>
            {% for subfield in manual_form.nuv_flag %}
                {% if subfield.data == 'null' %}
                    <!-- data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" -->
                    <div class="form-check form-check-inline mt-4">
                        {{ subfield(class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% else %}
                    <div class="form-check form-check-inline mt-4">
                        {{ subfield(class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="text-center mt-2">
            <!--—————————MANUAL PARAMETER FORM——————————-->
            {{ manual_form.submit(class="btn btn-primary border-0 mb-3", id="flux-continue-btn") }}
        </div>
    </fieldset>
</form>