<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center ms-2 d-flex justify-content-evenly">
                <p class="mb-0 mt-2 ms-3">
                    The following data was returned for your target: 
                    <b>
                        {% if stellar_obj.position is not none %}
                            {{ stellar_obj.position }}
                        {% elif stellar_obj.star_name is not none %}
                            {{ stellar_obj.star_name }}
                        {% endif %}
                    </b> <br>
                    Use preselected values from
                    {% if stellar_obj.position is not none %}
                        <a href="https://exoplanetarchive.ipac.caltech.edu/overview/{{ stellar_obj.position | urlencode }}">NExScI</a> 
                    {% elif stellar_obj.star_name is not none %}
                        <a href="https://exoplanetarchive.ipac.caltech.edu/index.html">NExScI</a> 
                    {% endif %}
                    and 
                    <a href="http://galex.stsci.edu/gr6/?page=mastform">GALEX</a> <br>
                    or enter your own manual parameters in the corresponding text box
                </p>

                {% if active_page == 'home' %}
                    <a href="/"><button class="btn-close mx-3" data-bs-dismiss="modal" aria-label="Close"></button></a>
                {% else %}
                    <button class="btn-close mx-3" data-bs-dismiss="modal" aria-label="Close"></button>
                {% endif %}

            </div>
            <div class="modal-body py-0">
                {% if modal_form.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        Oops! Some fields are missing, please review form and submit again.
                    </div>
                {% endif %}

                {% for flash_message in get_flashed_messages() %}
                    {% if flash_message.location == 'modal' %}
                        <div class="alert alert-{{flash_message.category}} mt-2" role="alert">
                            {{ flash_message.message }}
                            {% if 'FAQ page' in flash_message.message %}
                                {% include 'partials/modal_faq_error.html' %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
                <!--—————————MODAL FORM——————————-->
                {% include 'partials/modal_form.html' %}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/modal_form.js') }}"></script>
<script>
    form = document.getElementById('modal-form')
    '{% for field, errors in modal_form.errors.items() %}'
        fields = form.querySelectorAll(`[id*="{{ field }}"]`);
        for (i=0; i < fields.length; i++){
            fields[i].classList.add('is-invalid');
        }
    '{% endfor %}'
</script>