<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center ms-2 d-flex justify-content-evenly">
                <p class="mb-0 mt-2 ms-3">
                    The following data was returned for your target: <b>{{ session.search_term }}</b> <br> 
                    Use preselected values from
                    <a href="https://exoplanetarchive.ipac.caltech.edu/overview/{{ session.search_term | urlencode }}">NExScI</a> 
                    and 
                    <a href="http://galex.stsci.edu/gr6/?page=mastform">GALEX</a> <br>
                    or enter your own manual parameters in the cooresponding text box
                </p>


                <a href="/"><button class="btn-close mx-3" data-bs-dismiss="modal" aria-label="Close"></button></a>

                {#<!-- {% if 'results' in request.referrer %}
                    <button class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                {% else %}
                    <button class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close" onclick="history.back()"></button>
                {% endif %} -->#}

            </div>
            <div class="modal-body py-0">
                {% if star_name_parameters_form.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        Oops! Some fields are missing, please review form and submit again.
                    </div>
                {% endif %}
                
                <!--—————————MODAL FORM——————————-->
                {% include 'partials/modal_form.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/show_modal_errors.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_form.js') }}"></script>