<form action='{{ url_for("main.homepage") }}' method='POST' id="name-form" onsubmit="displayLoading(event='search');" style="width: 100%;">
    <fieldset>
        {{ name_form.csrf_token }}
        <div class="search_field">
            {{ name_form.star_name(class="input", placeholder="Star Name", id="name-form-input-group", autocomplete="off") }}
            <button type="submit" form="name-form" class="btn">
                <i class="fas fa-search me-auto"></i>
            </button>
        </div>
    </fieldset>
</form>