<form action='{{ url_for("main.homepage") }}' method='POST' id="position-form" onsubmit="displayLoading(event='search');" style="width: 100%;">
    <fieldset>
        {{ position_form.csrf_token }}
        <div class="search_field">
            {{ position_form.coords(class="input", placeholder="Equatorial Coordinates") }}
            <button type="submit" form="position-form" class="btn">
                <i class="fas fa-search me-auto"></i>
            </button>
        </div>
    </fieldset>
</form>