<div class="wrapper">
    <div class="search_box">
        <div class="dropdown" id="search-select">
            <div class="default_option">star name</div>  
            <ul>
                <li>Star Name</li>
                <li>Position</li>
            </ul>
        </div>

        <div id="name-form-cont" style="width: 100%;">
            {% include 'partials/name_form.html' %}
        </div>
        <div id="position-form-cont" style="display:none; width: 100%;">
            {% include 'partials/position_form.html' %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/search_bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/sesame_resolver.js')}}"></script>