{#<!-- <div class="row g-0" id="search-bar">

    <div class="col-lg-3 col-sm-4" id="search-dropdown-col">
        <div class="form-floating ms-2">
            <select class="form-select border-0 border-sm-right rounded-start-sm rounded-end-xs" id="search-select" aria-label="Floating label select example" style="min-height: 70px;">
                <option selected value="name">Star Name</option>
                <option value="position">J2000 Coordinates</option>
            </select>
            <label for="floatingSelect">Search By</label>
        </div>
    </div>
    
    <div class="col-lg-9 col-sm-8" id="name-form-cont">
        {% include 'partials/name_form.html' %}
    </div>

    <div class="col-lg-9 col-sm-8" id="position-form-cont" style="display:none;">
        {% include 'partials/position_form.html' %}
    </div>
    
</div> -->#}

<div class="wrapper">
    <div class="search_box">
        <div class="dropdown" id="search-select">
            <div class="default_option">star name</div>  
            <ul>
                <li>Star Name</li>
                <li>Position</li>
            </ul>
        </div>

        <div id="name-form-cont" style="width: 100%;">
            {% include 'partials/name_form.html' %}
        </div>
        <div id="position-form-cont" style="display:none; width: 100%;">
            {% include 'partials/position_form.html' %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/search_bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete.js' )}}"></script>