{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

    <div class="container" onload="checkSession()">     
        
        <div id="overlay">
            <div class="d-flex justify-content-center">
                <div id="loading"></div>
            </div>
        </div>

        <div class="col-sm-10 offset-sm-1 mt-1"> 
            <div class="row d-flex align-items-center">
                <div class="col-sm-2">
                    <img src="{{url_for('static', filename='imgs/icon.png')}}" alt="" class="img img-fluid px-3 py-3">
                </div>
                <div class="col-sm-10">
                    <h2>Find the Extreme Ultraviolet Spectrum for your Star</h2>
                </div>
            </div>
            <p>The PHOENIX EUV Grid and Stellar UV Spectra (PEGASUS) webtool returns a generalized high resolution (Δλ < 0.01 Å) synthetic extreme ultraviolet (EUV; 100-1000 Å) spectrum for a searched target star of the M or K spectral type.</p>
            <p>Required inputs for returning a spectrum are effective temperature, surface gravity, mass, radius, distance, and GALEX FUV and NUV fluxes.</p>
            <p>Users have the option to use Star Name or ICRS coordinates to query the catalogs detailed on our <a href="">About</a> page to retrieve these parameters or they can enter the values manually.</p>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        </div>

        <div class="row mt-5">
            <div class="col-md-6" id="home-left-col">
                <p class="text-center mb-4"><b>Search for Stellar Parameters by Name or Position</b></p>
                <!--—————————NAME FORM——————————-->
                <form action='/' method='POST' id="name-form">
                    <fieldset>
                        {{ name_form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{ name_form.star_name(class="form-control", placeholder="Star Name") }}
                            {{ name_form.star_name.label }}
                        </div>
                        <div class="d-flex justify-content-end">
                            {{ name_form.submit(class="btn btn-primary mb-3", for="name-form", onclick="displayLoading();") }}
                        </div>
                    </fieldset>
                </form>

                <p id="home-or" class="my-5"><span>or</span></p>

                <!--—————————POSITION FORM——————————-->
                <form action="/" method="POST" id="position-form">
                    <fieldset>
                        {{ position_form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{ position_form.ra(class="form-control", placeholder="RA") }}
                            {{ position_form.ra.label }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ position_form.dec(class="form-control", placeholder="dec") }}
                            {{ position_form.dec.label }}
                        </div>
                        <div class="d-flex justify-content-end">
                            {{ position_form.submit(class="btn btn-primary mb-3", for="position-form", onclick="displayLoading();") }}
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-6">
                <p class="text-center mb-4"><b>Enter Stellar Parameters and Fluxes Manually</b></p>
                <form action="/" method="POST" id="parameter-form">
                    {{ parameter_form.csrf_token }}
                    <fieldset>
                        <div class="form-floating mb-3">
                            {{ parameter_form.teff(class="form-control", placeholder="Teff — Stellar Effective Temperature (K)") }}
                            {{ parameter_form.teff.label(text='* ' + parameter_form.teff.label.text) }}
                        </div>
    
                        <div class="form-floating mb-3">
                            {{ parameter_form.logg(class="form-control", placeholder="log g — Surface Gravity (cm/s2)") }}
                            {{ parameter_form.logg.label(text='* ' + parameter_form.logg.label.text) }}
                        </div>
    
                        <div class="form-floating mb-3">
                            {{ parameter_form.mass(class="form-control", placeholder="M ☉ - Mass in Solar Masses") }}
                            {{ parameter_form.mass.label(text='* ' + parameter_form.mass.label.text) }}
                        </div>
    
                        <div class="form-floating mb-3">
                            {{ parameter_form.stell_rad(class="form-control", placeholder="R ☉ — Stellar Radius in Solar Radian") }}
                            {{ parameter_form.stell_rad.label(text='* ' + parameter_form.stell_rad.label.text) }}
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-floating mb-3">
                                    {{ parameter_form.dist(class="form-control", placeholder="d — Distance") }}
                                    {{ parameter_form.dist.label(text='* ' + parameter_form.dist.label.text) }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-floating mb-3">
                                    {{ parameter_form.dist_unit(class="form-select") }}
                                    {{ parameter_form.dist_unit.label(text='* ' + parameter_form.dist_unit.label.text) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            {{ parameter_form.fuv(class="form-control", placeholder="FUV — Far Ultraviolet Flux in Microjanskys (mjy)") }}
                            {{ parameter_form.fuv.label(text='* ' + parameter_form.fuv.label.text) }}
                        </div>
                        <div class="form-floating">
                            {{ parameter_form.fuv_err(class="form-control", placeholder="FUV — Far Ultraviolet Flux Error in Microjanskys (mjy)") }}
                            {{ parameter_form.fuv_err.label(text='* ' + parameter_form.fuv_err.label.text) }}
                        </div>

                        <div id="fuv-flags-container" class="text-center">
                            <span class="me-3">FUV Flags:</span>
                            {% for subfield in parameter_form.fuv_flag %}
                                <div class="form-check form-check-inline my-4">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{ parameter_form.nuv(class="form-control", placeholder="NUV — Near Ultraviolet Flux in Microjanskys (mjy)") }}
                            {{ parameter_form.nuv.label(text='* ' + parameter_form.nuv.label.text) }}
                        </div>
                        <div class="form-floating">
                            {{ parameter_form.nuv_err(class="form-control", placeholder="NUV — Near Ultraviolet Flux Error in Microjanskys (mjy)") }}
                            {{ parameter_form.nuv_err.label(text='* ' + parameter_form.nuv_err.label.text) }}
                        </div>

                        <div id="nuv-flags-container" class="text-center">
                            <span class="me-3">NUV Flags:</span>
                            {% for subfield in parameter_form.nuv_flag %}
                                <div class="form-check form-check-inline my-4">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        </div>
                        {#<!-- <div class="d-flex justify-content-end">
                            {{ parameter_form.submit(class="btn btn-primary mb-3", for="parameter-form") }}
                        </div> -->#}
                    </fieldset>
                </form>
            </div>


            {% if show_modal %}
                
                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="mt-2 ms-4">
                                    The following catalogs returned data for your target: <b>{{ session.star_name }}</b> <br> 
                                    Select the values you wish to use below or enter manually.
                                </p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form id="name-parameters-form" action="/" method="POST" onsubmit="return checkManualInputs()">
                                    <fieldset>
                                        {{ star_name_parameters_form.csrf_token }}
                                        <div class="table-responsive">
                                            <table class="table table-borderless align-bottom" id="star_name_parameter_form_table">
                                                <tr class="mx-2">
                                                    <th><small>{{star_name_parameters_form.catalog_name.label}}</small></th>
                                                    {% for subfield in star_name_parameters_form.catalog_name %}
                                                        {% if subfield.data != 'GALEX' %}
                                                            <td>
                                                                <p class="my-1">{{ subfield.label }}</p>
                                                                <div class="form-check">
                                                                    {{ subfield(class="form-check-input", type="checkbox", onclick="selectAll(this);") }}
                                                                    <p>Select All</p>
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>

                                                <tr class="me-2">
                                                    <th><small>{{star_name_parameters_form.teff.label}}</small></th>

                                                    {% for subfield in star_name_parameters_form.teff %}
                                                        {% if subfield.data == 'Manual' %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    <!-- <input type="radio" name="teff" value="manual" class="form-check-input"> -->
                                                                    <input type="text" name="manual_teff" id="manual_teff" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    {{ subfield.label(class="form-check-label") }}
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    
                                                </tr>

                                                <tr class="me-2">
                                                    <th><small>{{star_name_parameters_form.logg.label}}</small></th>
                                                    {% for subfield in star_name_parameters_form.logg %}
                                                        {% if subfield.data == 'Manual' %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    <input type="text" name="manual_logg" id="manual_logg" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    {{ subfield.label(class="form-check-label") }}
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>

                                                <tr class="me-2">
                                                    <th><small>{{star_name_parameters_form.mass.label}}</small></th>
                                                    {% for subfield in star_name_parameters_form.mass %}
                                                        {% if subfield.data == 'Manual' %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    <input type="text" name="manual_mass" id="manual_mass" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    {{ subfield.label(class="form-check-label") }}
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>

                                                <tr class="me-2">
                                                    <th><small>{{star_name_parameters_form.stell_rad.label}}</small></th>
                                                    {% for subfield in star_name_parameters_form.stell_rad %}
                                                        {% if subfield.data == 'Manual' %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    <input type="text" name="manual_rad" id="manual_rad" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    {{ subfield.label(class="form-check-label") }}
                                                                </div>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>

                                                <tr class="me-2">
                                                    <th><small>{{star_name_parameters_form.dist.label}}</small></th>
                                                    {% for subfield in star_name_parameters_form.dist %}
                                                        {% if subfield.data == 'Manual' %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    <input type="text" name="manual_dist" id="manual_dist" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                </div>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <div class="form-check my-4">
                                                                    {{ subfield(class="form-check-input") }}
                                                                    {{ subfield.label(class="form-check-label") }}
                                                                </div>  
                                                            </td>    
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                                
                                            </table>
                                        </div>

                                        {% for subfield in star_name_parameters_form.catalog_name %}
                                            {% if subfield.data == 'GALEX' %}
                                                <hr>
                                                <div class="table-responsive">
                                                    <table class="table table-borderless align-bottom" id="star_name_flux_form_table">
                                                        <tr class="mx-2">
                                                            <th><small>{{star_name_parameters_form.catalog_name.label}}</small></th>
                                                            {% for subfield in star_name_parameters_form.catalog_name %}
                                                                {% if subfield.data == 'GALEX' %}
                                                                    <td>
                                                                        <p class="my-1">{{ subfield.label }}</p>
                                                                        <div class="form-check">
                                                                            {{ subfield(class="form-check-input", type="checkbox", onclick="selectAllGalex(this);") }}
                                                                            <p>Select All</p>
                                                                        </div>
                                                                    </td>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <td>
                                                                <p class="my-1"><label for="galex">Manual</label></p>
                                                                <div class="form-check">
                                                                    <input type="checkbox" name="galex" id="galex" class="form-check-input" onclick="selectAll(this);" value="Manual">
                                                                    <p>Select All</p>
                                                                </div>
                                                            </td>
                                                        </tr>
        
                                                        <tr class="me-2">
                                                            <th><small>{{star_name_parameters_form.fuv.label}}</small></th>
                                                            {% for subfield in star_name_parameters_form.fuv %}
                                                                {% if subfield.data == 'Manual' %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            <input type="text" name="manual_fuv" id="manual_fuv" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                        </div>
                                                                    </td>
                                                                {% else %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            {{ subfield.label(class="form-check-label") }}
                                                                        </div>  
                                                                    </td>    
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>

                                                        <tr class="me-2">
                                                            <th><small>{{star_name_parameters_form.fuv_err.label}}</small></th>
                                                            {% for subfield in star_name_parameters_form.fuv_err %}
                                                                {% if subfield.data == 'Manual' %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            <input type="text" name="manual_fuv_err" id="manual_fuv_err" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                        </div>
                                                                    </td>
                                                                {% else %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            {{ subfield.label(text='+/- ' + subfield.label.text|string, class="form-check-label") }}
                                                                        </div>  
                                                                    </td>    
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
        
                                                        <tr class="me-2">
                                                            <th><small>{{star_name_parameters_form.nuv.label}}</small></th>
                                                            {% for subfield in star_name_parameters_form.nuv %}
                                                                {% if subfield.data == 'Manual' %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            <input type="text" name="manual_nuv" id="manual_nuv" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                        </div>
                                                                    </td>
                                                                {% else %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            {{ subfield.label(class="form-check-label") }}
                                                                        </div>  
                                                                    </td>    
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>

                                                        <tr class="me-2">
                                                            <th><small>{{star_name_parameters_form.nuv_err.label}}</small></th>
                                                            {% for subfield in star_name_parameters_form.nuv_err %}
                                                                {% if subfield.data == 'Manual' %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            <input type="text" name="manual_nuv_err" id="manual_nuv_err" class="form-control" onclick="checkManualRadio(this)" size="5">
                                                                        </div>
                                                                    </td>
                                                                {% else %}
                                                                    <td>
                                                                        <div class="form-check my-4">
                                                                            {{ subfield(class="form-check-input") }}
                                                                            {{ subfield.label(text='+/- ' + subfield.label.text|string, class="form-check-label") }}
                                                                        </div>  
                                                                    </td>    
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </table>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <div class="modal-footer">
                                            {{ star_name_parameters_form.submit(class="btn btn-primary", form="name-parameters-form") }}
                                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var myModalEl = document.getElementById('myModal');
                    var modal = new bootstrap.Modal(myModalEl);
                    modal.show();
                </script>
            {% endif %}

        </div>

        <div class="text-center my-5">
            {{ parameter_form.submit(class="btn btn-primary", for="parameter-form", id="flux-continue-btn", form="parameter-form") }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal_form.js') }}"></script>
    <script>
        function checkSession() {
            var inputs;
            const session = JSON.parse('{{ session|tojson|safe }}');
            console.log(session);

            inputs = document.getElementsByClassName('form-control');

            for (i = 0; i < inputs.length; i++){
                if((session.hasOwnProperty(inputs[i].name)) && (inputs[i].name != 'csrf_token')){
                    console.log(inputs[i]);
                    console.log(session[inputs[i].name]);
                    inputs[i].value = session[inputs[i].name];
                };};};

        window.onload = checkSession;
    </script>

    <!-- <script type="text/javascript">
        

        function showModal() {
            var myModalEl = document.getElementById('myModal');
            var modal = new bootstrap.Modal(myModalEl);
            modal.show();
        };


//—————————————————————————LOADER START————————————————————————
        const loader = document.querySelector("#loading");
        const overlay = document.getElementById("overlay");
        
        // showing loading
        function displayLoading() {
            loader.classList.add("display");
            overlay.style.display = "block";
        }

        // hiding loading
        function hideLoading() {
            loader.classList.remove("display");
            overlay.style.display = "none";
        }
//—————————————————————————LOADER END————————————————————————


//—————————————————————————SELECT ALL START————————————————————————
        function selectAll(obj) {
            console.log(obj.id)

            // get all selectall buttons
            const selectAllBtns = document.getElementById('star_name_parameter_form_table').querySelectorAll(`[id*="catalog_name"]`);
            console.log(selectAllBtns)
            // check to make sure no other select all buttons are checked
            for (i=0; i < selectAllBtns.length; i++) {
                if ( selectAllBtns[i].id != obj.id ) {
                    selectAllBtns[i].checked = false;
                }
            };

            // get identifying number
            const num = obj.id.match(/(\d+)/)[0];
            // get all radios w identifying number
            const btns = document.getElementById('star_name_parameter_form_table').querySelectorAll(`[id*="${num}"]`);
            // check radio btns
            for( i = 0 ; i < btns.length ; i++ ) {
                btns[i].checked = true;
            };
        };

        function selectAllGalex(obj) {
            console.log(obj.id)
            const fuvBtn = document.getElementById('fuv-0').checked = true;
            const nuvBtn = document.getElementById('nuv-0').checked = true;
        }
//—————————————————————————SELECT ALL END————————————————————————


        function checkManualRadio(obj) {
            obj.previousElementSibling.checked = true;
        };

        function checkManualInputs(){
            // check all radio buttons and if a manual radio button is clicked assign the value to 
            const manualBtns = document.querySelectorAll(`[id*="{{ last_num }}"]`);
            for(i = 0; i < manualBtns.length; i++){
                if (manualBtns[i].checked) {
                    const newVal = manualBtns[i].nextElementSibling.value
                    manualBtns[i].value = newVal
                };
            };
            return true; // submit the form
        };
    
        function checkSession() {
            var inputs;
            const session = JSON.parse('{{ session|tojson|safe }}');
            console.log(session);

            // inputs = document.getElementsByTagName('input');
            inputs = document.getElementsByClassName('form-control');

            for (i = 0; i < inputs.length; i++){
                if((session.hasOwnProperty(inputs[i].name)) && (inputs[i].name != 'csrf_token')){
                    console.log(inputs[i]);
                    console.log(session[inputs[i].name]);
                    inputs[i].value = session[inputs[i].name];
                };
            };
        };

        window.onload = checkSession;

    </script> -->
{% endblock %}