{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-sm-7 offset-sm-2 mt-3">

            <div class="row d-flex align-items-center">
                <div class="col-sm-3">
                    <img src="{{url_for('static', filename='imgs/logo-placeholder.png')}}" alt="" class="img-fluid">
                </div>
                <div class="col-sm-9">
                    <h1>Find the Extreme Ultraviolet Spectrum (EUV) for your Star</h1>
                </div>
            </div>
            <small>Enter parameters for your star and enter or search for the NUV and FUV fluxes. If you know your star name, simply enter the name at the bottom of the page.</small>
            
            <p class="mt-4"><b>Enter Information for your Star</b></p>


            <form action="/" method="POST">
                {{ form.csrf_token }}
                
                <div class="form-floating mb-3">
                    {{ form.teff(class="form-control", placeholder="Teff — Stellar Effective Temperature (K)") }}
                    {{ form.teff.label }}
                </div>
                <ul>
                    {% for error in form.teff.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="form-floating mb-3">
                    {{ form.logg(class="form-control", placeholder="log g — Surface Gravity (cm/s2)") }}
                    {{ form.logg.label }}
                </div>
                <ul>
                    {% for error in form.logg.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="form-floating mb-3">
                    {{ form.mass(class="form-control", placeholder="M ☉ - Mass in Solar Masses") }}
                    {{ form.mass.label }}
                </div>
                <ul>
                    {% for error in form.mass.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="form-floating mb-3">
                    {{ form.stell_rad(class="form-control", placeholder="R ☉ — Stellar Radius in Solar Radian") }}
                    {{ form.stell_rad.label }}
                </div>
                <ul>
                    {% for error in form.stell_rad.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-floating mb-3">
                            {{ form.dist(class="form-control", placeholder="d — Distance") }}
                            {{ form.dist.label }}
                        </div>
                        <ul>
                            {% for error in form.dist.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-floating mb-3">
                            {{ form.dist_unit(class="form-select") }}
                            <label for="floatingSelect">d Unit</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3" id="uv-choices">
                    <p>Choose an option:</p>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <button class="btn btn-secondary" onclick="showFlux()">Manually Enter FUV/NUV</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-secondary">Search GALEX for FUV/NUV</button>
                    </div>
                </div>

                
                <div id="flux-inputs-div" style="display:none;">
                    <p class="btn btn-link" onclick="showFluxOptions()">Back to Options</p>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-floating mb-3">
                                {{ form.fuv(class="form-control", placeholder="FUV — Far Ultraviolet Spectra in Microjanskys (mjy)") }}
                                {{ form.fuv.label }}
                            </div>
                            <ul>
                                {% for error in form.fuv.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                {{ form.fuv_flag(class="form-select") }}
                                <!--WHAT TO PUT HERE???-->
                                <label for="floatingSelect">Specify</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-floating mb-3">
                                {{ form.nuv(class="form-control", placeholder="NUV — Near Ultraviolet Spectra in Microjanskys (mjy)") }}
                                {{ form.nuv.label }}
                            </div>
                            <ul>
                                {% for error in form.nuv.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating mb-3">
                                {{ form.nuv_flag(class="form-select") }}
                                <label for="floatingSelect">Specify</label>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">FUV — Far Ultraviolet Spectra in Microjanskys (mjy)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">NUV — Near Ultraviolet Spectra in Microjanskys (mjy)</label>
                    </div> -->
                </div>

                
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mb-3" id="model-next"><a href="/ex-spectra" style="color: white; text-decoration: none;">Next →</a></button>
                </div>
            </form>

            <hr>or

            <p class="mt-4"><b>Enter Star Name</b></p>

            <form action="">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Star Name</label>
                </div>

                <button type="submit" class="btn btn-primary">Next →</button>
            </form>

            <!--QUESTIONS
                will there be more than one possible classification? 
                do we want to give them options and they choose one or do we want to just return closest match?
                do we want to render this before moving on to the next parameters or do it all at once?
                How are the FUV and NUV found through the GALEX DB and what are the returned values?
                Could we get the values of FUV and NUV without knowing the specific model?
            -->

        </div>
    </div>

    <script>
        const uvChoicesDiv = document.getElementById("uv-choices");
        const fluxInputs = document.getElementById("flux-inputs-div");

        function showFlux() {
            fluxInputs.style.display = 'inline';
            uvChoicesDiv.style.display = 'none';
        }

        function showFluxOptions() {
            uvChoicesDiv.style.display = 'flex';
            fluxInputs.style.display = 'none';
        }
    </script>
    
{% endblock %}