{% extends 'base.html' %}
{% set active_page = "all-spectra" %}
{% block title %}View All Spectra{% endblock %}
{% block content %}
    <div id="about-hero">
        <img src="{{ url_for('static', filename='imgs/solar_img_banner.png') }}" alt="" class="full-width img img-fluid" id="about-hero-img">
        <h1 class="text-center" style="padding-top: 80px;">View All Spectra</h1>
    </div>

    <p class="mt-5 pt-4">
        The full PEGASUS model grid is available for download. <br><br>

        Each subgrid contains 72 models with different upper atmospheric structures. These models have EUV-NUV flux densities that span three orders of magnitude. <br><br>

        The PHOENIX spectra (EUV – IR; 100 Angstroms to 100 microns) are saved in FITS file format. The wavelengths (given in Angstroms) are in vacuum and the wavelength grid has a resolution of &lt;0.1 Angstroms. Please note that the wavelength grid is not uniformly spaced. The flux densities (given in ergs/cm<sup>2</sup>/s/Angstrom) are that at the stellar surface and are scalable to a distance D via (R_star/D)<sup>2</sup>. <br><br>
    </p>
    
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <p class="py-3 px-3 text-center" style="background-color:tomato;">
                <b>PLEASE NOTE:</b> <br>
                These models are generic spectra for the specified stellar parameters (Teff, log(g), and M) and simulate various levels of UV flux which may not be physical. Please use with caution.
            </p>
        </div>
    </div>
{% endblock %}